
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif;
}


#myForm h2 {
  margin: 0 0 20px 0; /* top margin 0, bottom 20px */
  text-align: center;
  color: white;
}

#myForm {
  width: 350px;
  padding: 25px;
  background-color: black;
  border-radius: 10px;
  color: white; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;    
}


/* Input groups */
.input-group {
  width: 100%; 
  margin-bottom: 15px;
  padding-right: 20px;
}

.input-group input {
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input-group.error input {
  border-color: red;
}

.input-group.success input {
  border-color: green;
}

.error-msg {
  color: yellow; 
  font-size: 13px;
  display: none;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffcc
}